@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    padding:0px;
    margin:0px;
    text-decoration : none;
    list-style : none;
    box-sizing:border-box;

}
body{
    font-family: montserrate;

}


.navbar{
    background-color : black;
    color: rgb(255, 255, 255);
    font-size:2px;
    padding: 0 100px;
    font-weight: bold;
    width:100vw;
    
}
.container{
    display:block;
    background-color : black;
}

nav ul{
    background-color: black;
    float:right;
    margin-right  : 20px;

}
nav ul li{
    line-height : 78px;
    margin:0 6px;
    display  : inline-block;
}

nav a  {
    color : white;
    font-size:18px;
    padding:8px 15px;
    text-transform: uppercase;

}
a.active, a:hover{
    background-color:rgb(54, 54, 54);
    transition:0.7s;
}
@media (max-width: 991px) {
    #navbar{
        display:none;
    }
  
}
